.section {
    width: 73vw;
    height: 58vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 50px;
    z-index: -1;
    padding: 5px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.projectImage {
    width: 20vw;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 0px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

.projectImage:hover {
    scale: 1.01;
    cursor: pointer;
    border-radius: 15px;
}

.info {
    text-align: start;
    height: 20vw;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 5px;
}

.technologies {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-top: 15px;
}

.technologyImage {
    width: 5vw;
    min-width: 25px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 0px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

.text {
    color: var(--primary-color);
    font-size: var(--text-size);
    margin: 0 0 0 0px;
    height: 12vw;
    overflow: hidden;
}

@media (max-width: 530px) {
    .section {
        height: 100%;
    }

    .info {
        text-align: center;
        height: fit-content;
    }

    .project {
        flex-direction: column;
        height: fit-content;

    }

    .projectImage {
        width: 40vw;
        border-radius: 25px;
        box-shadow: 1px 1px 3px 0px rgb(0, 0, 0);
        transition: all .2s ease-in-out;
    }

    .text {
        color: var(--primary-color);
        font-size: var(--text-size);
        margin: 0 0 0 0px;
        height: fit-content;
        overflow: hidden;
    }

    .technologies {
        flex-wrap: wrap;
    }

    .technologyImage {
        width: 10vw;
    }
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}