.section {
    width: 73vw;
    height: 58vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 20px;
    z-index: -1;
    padding: 5px;
}

.social {
    display: flex;
    gap: 10px;
}

.socialImage {
    border-radius: 25px;
    width: 5vw;
    cursor: pointer;
}

.socialImage:hover {
    scale: 1.03;
    width: 5vw;
}

.text {
    color: var(--primary-color);
    font-size: var(--text-size);
}