.section {
    width: 73vw;
    height: 58vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 20px;
    z-index: -1;
    padding: 5px;
}

.container1{
    text-align: start;
    align-items: center;
    display: flex;
}

.container2{
    text-align: end;
    display: flex;
    align-items: center;
}

.image{
    width: 20vw;
}

.title{
    color: var(--primary-color);
    margin: 0 0 0 0px;
    height: 3vw;
}

.info{
    margin: 0 10px 0 10px;
}

.social {
    display: flex;
    gap: 10px;
}

.socialImage {
    border-radius: 25px;
    width: 5vw;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

.socialImage:hover {
    scale: 1.03;
    width: 5vw;
}

.text {
    color: var(--primary-color);
    font-size: var(--text-size);
    margin: 0 0 0 0px;
    height: 16vw;
    overflow: hidden;
}